{% extends "core/embed_layout.html" %} {% block title %} La biodiversité de
{{area_info.area_name }} ({{ area_info.type_name }} : {{ area_info.area_code }})
{% endblock %} {% block head %} {{ super() }} {% endblock %} {% block content %}

<script type="text/javascript">
  var buffer = {{ default_buffer }};
  var grid = '{{ default_grid }}';
</script>

<style type="text/css">
  body {
    padding-top: 0 !important;
  }

  #territorySynthesis .paral h1 {
    color: var(--dark, "#000");
    padding-top: unset;
  }

  .paralsec3.areaName {
    min-height: 200px;
    height: auto;
    background-position: 95% 5%;
  }

  .paralsec1 {
    height: auto;
    padding: 2rem 2rem;
  }

  .paralsec1 .icon-rounded {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
  }

  .paralsec3.territoryIntro {
    height: auto;
    background-position: 20% 80%;
  }

  .fa-info-circle {
    color: white;
  }
</style>

<div id="territorySynthesis">
  <div class="jumbotron paral paralsec3 areaName paral_img">
    <div class="container">
      <h1 class="display-1">{{ area_info.area_name }}</h1>
      <!-- <p class="lead">{{ area_info.type_name }} | code {{ area_info.area_code }}</p> -->
    </div>
  </div>
  <div class="jumbotron paral paralsec1">
    <div class="container">
      <div id="genstats">{% include "territory/gen_stats.html" %}</div>
    </div>
  </div>
  <div class="jumbotron paral paralsec3 territoryIntro">
    <div class="container-fluid">
      <div id="territoryIntro" class="row p-0">
        <div class="row">
          <div class="col col-sm-12 col-lg-2 text-center align-self-center">
            <i class="fas fa-info-circle fa-10x"></i>
          </div>
          <div class="col col-sm-12 col-lg-7 align-self-center">
            {{ intro.content | safe }}
          </div>
          <div class="col col-sm-12 col-lg-3 align-self-center">
            <div class="testimonial rounded-lg shadow border-0 card">
              <div class="text">
                <div class="testimonial-quote">
                  <i class="fas fa-drafting-compass fa-2x"></i>
                </div>
                <div class="testimonial-text">
                  Sélectionnez la distance tampon à prendre en compte pour la
                  synthèse
                </div>
                <div class="form-group">
                  <select class="form-control" id="selectBuffer">
                    <option value="1000">1km</option>
                    <option value="2000">2km</option>
                    <option value="5000">5km</option>
                    <option value="10000">10km</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="embedBlocks">
    <!-- Block 1 -->
    <div class="card">
      <div class="card-header blocks" id="headingThreatenedSpecies">
        <h1>
          <div class="icon-rounded shadow bg-primary-light">
            <i class="fas fa-exclamation"></i>
          </div>
          <span
            data-toggle="tooltip"
            data-placement="right"
            data-html="true"
            title="Les graphiques suivants font l'état des espèces menacées du territoire <u>et</u> de sa zone tampon (sélectionnée précédemment)."
          >
            Espèces menacées du territoire
          </span>
        </h1>
      </div>
      <div id="contentThreatenedSpecies">
        <div class="card-body">
          <div class="col">
            <div class="card border-primary mb-3 shadow">
              <div class="card-header info">
                <i class="fas fa-info text-primary"></i>
                Les graphiques suivants font l'état des
                <abbr
                  data-toggle="tooltip"
                  data-placement="bottom"
                  title="Espèces à statuts de conservation défavorable"
                  >espèces menacées</abbr
                >
                du territoire <u>et</u> de sa zone tampon (sélectionnée
                précédemment).
              </div>
            </div>
            <div class="card text-white bg-dark mb-3 shadow">
              <div class="card-header info">
                <i class="fas fa-drafting-compass"></i>
                Vous pouvez modifier l'emprise de l'analyse en sélectionnant
                <a href="#territoryIntro">ici</a> la distance tampon de votre
                choix.
              </div>
            </div>
          </div>
          <div class="col">
            {% include "territory/threatened_species.html" %}
          </div>
        </div>
      </div>
    </div>
    <!-- Block 2 -->
    <div class="card">
      <div class="card-header blocks" id="headingObservationsDistribution">
        <h1>
          <div class="icon-rounded shadow bg-primary-light">
            <i class="fas fa-map-marked-alt"></i>
          </div>
          <span
            data-toggle="tooltip"
            data-placement="right"
            data-html="true"
            title="La carte suivante illustre la répartition des données sur le territoire 
                                <u>et</u> sur sa zone tampon (sélectionnée précédemment).<br/>Les graphiques situés en dessous illustrent quant à eux la
                                répartition des données dans le temps et par groupe taxonomique."
          >
            Répartition des observations
          </span>
        </h1>
      </div>
      <div id="contentObservationsDistribution">
        <div class="card-body">
          <div class="col">
            <div class="row">
              <div class="col col-lg-5 col-sm-12">
                <div class="card border-primary shadow h-100">
                  <div class="card-header info h-100">
                    <i class="fas fa-info text-primary"></i>
                    La carte suivante illustre la répartition des données sur le
                    territoire
                    <u>et</u> sur sa zone tampon (sélectionnée précédemment).<br />
                    <i class="fas fa-info text-primary"></i>
                    Les graphiques situés en dessous illustrent quant à eux la
                    répartition des données dans le temps et par groupe
                    taxonomique.
                  </div>
                </div>
              </div>
              <div class="col col-lg-7 col-sm-12">
                <div class="card border-warning shadow h-100">
                  <div class="card-header info h-100">
                    <i class="fas fa-lightbulb text-warning"></i>
                    Sur la carte, vous pouvez choisir la couche thématique
                    (nombre d'espèces, nombre d'observations, etc.) et le fond
                    de carte qui vous intéressent.<br />
                    <i class="fas fa-lightbulb text-warning"></i>
                    Cliquez sur une maille de la carte pour accéder à la liste
                    des espèces observées sur cette dernière : les lignes en
                    <span class="bg-danger text-light">rouge</span> qui
                    s'affichent mettent en évidence les espèces qui présentent
                    un statut de conservation défavorable.<br />
                  </div>
                </div>
              </div>
            </div>
            <div class="card border-danger shadow mt-3 mb-3 h-100">
              <div class="card-header info h-100">
                <i class="fas fa-exclamation-triangle text-danger"></i>
                <span class="text-danger"
                  ><strong
                    >La liste des espèces par maille n'affiche que les données
                    "non cachées" du territoire. Les données cachées sont des
                    données cachées à la demande de l'observateur ou des données
                    d'espèces sensibles à fort enjeu de conservation.</strong
                  ></span
                >
              </div>
            </div>
            <div class="card text-white bg-dark mt-3 mb-3 shadow">
              <div class="card-header info">
                <i class="fas fa-drafting-compass"></i>
                Vous pouvez modifier l'emprise de l'analyse en sélectionnant
                <a href="#territoryIntro">ici</a> la distance tampon de votre
                choix.
              </div>
            </div>
          </div>
          <div class="col">
            {% include "territory/data_distribution.html" %}
          </div>
        </div>
      </div>
    </div>
    <!-- Block 3 -->
    <div class="card">
      <div class="card-header blocks" id="headingSpeciesList">
        <h1>
          <div class="icon-rounded shadow bg-primary-light">
            <i class="fas fa-list"></i>
          </div>
          <span
            data-toggle="tooltip"
            data-placement="right"
            data-html="true"
            title="Le tableau suivant liste l'ensemble des espèces observées sur le territoire."
          >
            Liste des espèces
          </span>
        </h1>
      </div>
      <div id="contentSpeciesList">
        <div class="card-body">
          <div class="col">
            <div class="row">
              <div class="col col-lg-8 col-sm-12">
                <div class="card border-primary shadow h-100">
                  <div class="card-header info h-100">
                    <i class="fas fa-info text-primary"></i>
                    Le tableau suivant liste l'ensemble des espèces observées
                    sur le territoire. Les lignes en
                    <span class="bg-danger text-light">rouge</span> mettent en
                    évidence les espèces qui présentent un statut de
                    conservation défavorable.
                  </div>
                </div>
              </div>
              <div class="col col-lg-4 col-sm-12">
                <div class="card border-warning shadow h-100">
                  <div class="card-header info h-100">
                    <i class="fas fa-lightbulb text-warning"></i>
                    Vous pouvez télécharger le tableau en le copiant dans votre presse-papier (Copy) ou en l'exportant  au format CSV.
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col col-12 pt-2">
                <div class="card border-danger shadow h-100">
                  <div class="card-header info h-100">
                    <i class="fas fa-exclamation-triangle text-danger"></i>
                    <span class="text-danger"
                      ><strong
                        >Ce tableau n'affiche que les données "non cachées" du
                        territoire. Les données cachées sont des données cachées
                        à la demande de l'observateur ou des données d'espèces
                        sensibles à fort enjeu de conservation.</strong
                      ></span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col mt-3">
            {% include "territory/list_species.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('select option[value=' + buffer + ']').attr("selected", true);

  $('#selectBuffer').on('change', function () {
      buffer = this.value;
      threatenedSpeciesGlobalUpdate({{ area_info.id_area }}, buffer);
      threatenedSpeciesByTaxoGroupGetData({{ area_info.id_area }}, buffer, 'surrounding');
      getGridArea('taxa');
  });
</script>
{% endblock %}
