{% extends "core/layout.html" %} {% block title %}{{ area_info.type_name }} {{ area_info.area_name }} {% endblock %} {% block head %} {{ super() }}
<style type="text/css">

</style>
{% endblock %} {% block content %}
<div class="container-fluid">
    <div id="situation" class="row">
        <div class="col">
            <h1 class="d-inline-block">{{ area_info.area_name }} ({{ area_info.area_code }})</h1><span class="badge badge-primary align-top">{{ area_info.type_name }}</span>
        </div>
    </div>
    <div id="genstats" class="row">
        <div class="col">
            <div class="card text-white bg-info">
                <div class="card-body text-center">
                    <h2 class="count">{{gen_stats.count_occtax}}</h2>
                    <div class="subject">Observations</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-info">
                <div class="card-body text-center">
                    <h2 class="count">{{gen_stats.count_taxa}}</h2>
                    <div class="subject">Espèces</div>
                </div>
            </div>
        </div>
                <div class="col">
            <div class="card text-white bg-info">
                <div class="card-body text-center">
                    <h2 class="count">{{gen_stats.count_observer}}</h2>
                    <div class="subject">Observateurs</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-info">
                <div class="card-body text-center">
                    <h2 class="count">{{gen_stats.count_date}}</h2>
                    <div class="subject">Dates</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-info">
                <div class="card-body text-center">
                    <h2 class="count">{{gen_stats.last_obs.strftime('%Y-%m-%d')}}</h2>
                    <div class="subject">Dernière date</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-info">
                <div class="card-body text-center">
                    <h2 class="count">{{gen_stats.count_dataset}}</h2>
                    <div class="subject">Jeux de données</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="situationMap" class="card">
                <script>
                    var situationMap = L.map('situationMap').setView([51.505, -0.09], 13);

                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                    }).addTo(situationMap);

                    let xhr = new XMLHttpRequest();
                    xhr.open('GET', '/api/geom/{{ area_info.type_code }}/{{ area_info.area_code }}');
                    xhr.setRequestHeader('Content-Type', 'application/json');
                    xhr.responseType = 'json';
                    xhr.onload = function() {
                        if (xhr.status !== 200) return
                        var situationObject = L.geoJSON(xhr.response);
                        situationObject.getBounds();
                        situationObject.addTo(situationMap);
                        situationMap.fitBounds(situationObject.getBounds());
                    };
                    xhr.send();
                </script>
            </div>
        </div>
        <div class="col">
            <div id="container">
                <canvas id="myChart" width="400" height="300"></canvas>
                <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                            datasets: [{
                                label: '# of Votes',
                                data: [12, 19, 3, 5, 2, 3],
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</div>



<script></script>
{% endblock %}