{% extends "core/layout.html" %} {% block title %}{{ area_info.type_name }} {{ area_info.area_name }} {% endblock %}
{% block head %} {{ super() }}
{% endblock %} {% block content %}
    <div id="territorySynthesis" class="container-fluid">
        <div class="row mt-2">
            <div class="col">
                <h1 class="d-inline-block">{{ area_info.area_name }} ({{ area_info.area_code }})</h1><span
                    class="badge badge-primary align-top">{{ area_info.type_name }}</span>
                {#                <span>{{ area_info.id_area }}</span>#}
            </div>
        </div>
        <div id="genstats" class="row mt-2 text-center">
            {% include "territory/gen_stats.html" %}
        </div>
        <div class="row mt-2">
            <div class="col-lg-12">
                <h2><span class="title"><i class="glyphicon-facetime-video"></i> Etat des connaissances</span></h2>
            </div>
            <div class="col col-md-6">
                {% include "territory/situation_map.html" %}
            </div>
            <div class="col col-md-6">
                {% include "territory/charts.html" %}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col col-md-12">
                {% include "territory/list_species.html" %}
            </div>
        </div>
    </div>

    <script>
    </script>
{% endblock %}