
<div class="row">
    <div class="col col-sm-6 col-lg-3 text-center">
        <div class="icon-rounded shadow bg-primary-light mb-3 mt-3">
            <i class="fas fa-eye fa-2x"></i>
        </div>
        <div id="countOcctax" class="count" data-count="{{ gen_stats.count_occtax }}">0</div>
        <div class="subject mb-3">Observations</div>
    </div>
    <div class="col col-sm-6 col-lg-3 text-center">
        <div class="icon-rounded shadow bg-primary-light mb-3 mt-3">
            <i class="fas fa-frog fa-2x"></i>
        </div>
        <div id="countTaxa" class="count" data-count="{{ gen_stats.count_taxa }}">0</div>
        <div class="subject mb-3">Espèces</div>
    </div>
    <div class="col col-sm-6 col-lg-3 text-center">
        <div class="icon-rounded shadow bg-primary-light mb-3 mt-3">
            <i class="fas fa-exclamation fa-2x"></i>
        </div>
        <div id="countThreatened" class="count" data-count="{{ gen_stats.count_threatened }}">0</div>
        <div class="subject mb-3">Espèces menacées</div>
    </div>
    <div class="col col-sm-6 col-lg-3 text-center">
        <div class="icon-rounded shadow bg-primary-light mb-3 mt-3">
            <i class="fas fa-user-friends fa-2x"></i>
        </div>
        <div id="countObserver" class="count" data-count="{{ gen_stats.count_observer }}">0</div>
        <div class="subject mb-3">Observateurs</div>
    </div>
</div>
<div class="row">
    <div class="col col-sm-6 col-lg-4 text-center">
        <div class="icon-rounded shadow bg-primary-light mb-3 mt-3">
            <i class="fas fa-calendar-alt fa-2x"></i>
        </div>
        <div id="countDate" class="count" data-count="{{ gen_stats.count_date }}">0</div>
        <div class="subject mb-3">Dates d'observations</div>
    </div>
    <div class="col col-sm-6 col-lg-4 text-center">
        <div class="icon-rounded shadow bg-primary-light mb-3 mt-3">
            <i class="fas fa-clock fa-2x"></i>
        </div>
        <div class="count">{{ gen_stats.last_obs.strftime('%Y-%m-%d') }}</div>
        <div class="subject mb-3">Dernière date d'observation</div>
    </div>
    <div class="col col-sm-6 col-lg-4 text-center">
        <div class="icon-rounded shadow bg-primary-light mb-3 mt-3">
            <i class="fas fa-server fa-2x"></i>
        </div>
        <div id="countDataset" class="count" data-count="{{ gen_stats.count_dataset }}">0</div>
        <div class="subject mb-3">Jeux de données</div>
    </div>
</div>

<script type="module">
    import {CountUp} from '/static/assets/countup.min.js';

    const countUpOptions = {
        separator: ' ',
    };

    var countUpUpdate = function (element, data) {
        new CountUp(element, data, countUpOptions).start();
    };    

$('.count').each(function () {
        var $this = $(this),
            countTo = $this.attr('data-count');
        console.log('<$this>',this.id);
        countUpUpdate(this.id, countTo, countUpOptions)
    });
</script>