<div class="col">
    <div class="card text-white bg-info">
        <div class="card-body text-center">
            <div class="count" data-count="{{ gen_stats.count_occtax }}">0</div>
            <div class="subject">Observations</div>
        </div>
    </div>
</div>
<div class="col">
    <div class="card text-white bg-info">
        <div class="card-body text-center">
            <div class="count" data-count="{{ gen_stats.count_taxa }}">0</div>
            <div class="subject">Espèces</div>
        </div>
    </div>
</div>
<div class="col">
    <div class="card text-white bg-info">
        <div class="card-body text-center">
            <div class="count" data-count="{{ gen_stats.count_threatened }}">0</div>
            <div class="subject">Espèces menacées</div>
        </div>
    </div>
</div>
<div class="col">
    <div class="card text-white bg-info">
        <div class="card-body text-center">
            <div class="count" data-count="{{ gen_stats.count_observer }}">0</div>
            <div class="subject">Observateurs</div>
        </div>
    </div>
</div>
<div class="col">
    <div class="card text-white bg-info">
        <div class="card-body text-center">
            <div class="count" data-count="{{ gen_stats.count_date }}">0</div>
            <div class="subject">Dates</div>
        </div>
    </div>
</div>
<div class="col">
    <div class="card text-white bg-info">
        <div class="card-body text-center">
            <div class="count">{{ gen_stats.last_obs.strftime('%Y-%m-%d') }}</div>
            <div class="subject">Dernière date</div>
        </div>
    </div>
</div>
<div class="col">
    <div class="card text-white bg-info">
        <div class="card-body text-center">
            <div class="count" data-count="{{ gen_stats.count_dataset }}">0</div>
            <div class="subject">Jeux de données</div>
        </div>
    </div>
</div>
<script type="text/javascript">


    $('.count').each(function () {
        var $this = $(this),
            countTo = $this.attr('data-count');

        $({countNum: $this.text()}).animate({
                countNum: countTo
            },
            {
                duration: 1000,
                easing: 'linear',
                step: function () {
                    $this.text(Math.floor(this.countNum));
                },
                complete: function () {
                    $this.text(this.countNum);
                    //alert('finished');
                }
            });
    });
</script>