 <div class="col">
            <div class="card text-white bg-info">
                <div class="card-body text-center">
                    <h2 class="count">{{gen_stats.count_occtax}}</h2>
                    <div class="subject">Observations</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-info">
                <div class="card-body text-center">
                    <h2 class="count">{{gen_stats.count_taxa}}</h2>
                    <div class="subject">Espèces</div>
                </div>
            </div>
        </div>
                <div class="col">
            <div class="card text-white bg-info">
                <div class="card-body text-center">
                    <h2 class="count">{{gen_stats.count_observer}}</h2>
                    <div class="subject">Observateurs</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-info">
                <div class="card-body text-center">
                    <h2 class="count">{{gen_stats.count_date}}</h2>
                    <div class="subject">Dates</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-info">
                <div class="card-body text-center">
                    <h2 class="count">{{gen_stats.last_obs.strftime('%Y-%m-%d')}}</h2>
                    <div class="subject">Dernière date</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-info">
                <div class="card-body text-center">
                    <h2 class="count">{{gen_stats.count_dataset}}</h2>
                    <div class="subject">Jeux de données</div>
                </div>
            </div>
        </div>