<div id="listSpecies">
    <h2><i class="fa fa-fw fa-list"></i> Liste des espèces</h2>
    <table id="listSpeciesTable" class="display">
        <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var listSpeciesTable = $('#listSpeciesTable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf'
            ]
        });
        listSpeciesTable.buttons().container()
            .appendTo('btn-success');
    });
</script>