<div id="situationMap" class="card">
</div>
<script src="{{ url_for('static', filename='base_map.js') }}" type="text/javascript"></script>
<script>

    var situationMap = baseMap('situationMap');

    var styleDesc = {
        'taxa': {
            'color': '#bf01a6',
            'desc': 'Nombre de taxons'
        },
        'occtax': {
            'color': '#3e05fc',
            'desc': 'Nombre d\'observations'
        },
        'threatened': {
            'color': '#db0205',
            'desc': 'Nombre de taxons menacés'
        },
        'observer': {
            'color': '#08aa03',
            'desc': 'Nombre d\'observateurs'
        },
        'date': {
            'color': '#e29002',
            'desc': 'Nombre de dates d\'observations'
        }
    };

    var situationMapValues = {
        'baseLayerType': 'carte',
        'rendered_color': null,
        'areaGridDatas': null,
        'areaGridLegend': null
    };


    var territoryStyle = {
        "color": "#ea09b9",
        "weight": 3,
        "opacity": 0.65,
        "fillOpacity": 0
    };

    var styleStorage = window.localStorage;

    function storeStyles() {
        axios
            .get('/api/territory/conf/ntile/')
            .then(function (response) {
                    // list style types
                    var lookup = {};
                    var items = response.data;
                    var types = [];

                    for (var item, i = 0; item = items[i++];) {
                        var name = item.type;

                        if (!(name in lookup)) {
                            lookup[name] = 1;
                            types.push(name);
                        }
                    }
                    // store each style conditions for each style type in localStorage
                    for (var type, i = 0; type = types[i++];) {
                        var typeData = items.filter(function (items) {
                            return items.type == type;
                        });
                        styleStorage.setItem(type, JSON.stringify(typeData));
                    }
                }
            )
            .catch(function (error) {
                console.log('<getColor> Error', error);
            });
    };

    storeStyles();

    function getColor(data, type, color) {
        // Apply color for each map object using style conditions and datas, color is the main color of the gradient
        colorGradiant = generateColor(color, '#ffffff', 5);
        var styleCondition = JSON.parse(styleStorage.getItem(type));
        for (var i = 0; i < styleCondition.length; i++) {
            if (data >= styleCondition[i].min && data < styleCondition[i].max) {
                situationMap.rendered_color = '#' + colorGradiant[i];
                return situationMap.rendered_color;
            }
            ;
        }
    };

    // [Carte d'état des connaissances du territoire] <LEGENDE> :  Génère la liste des valeurs palier utilisées pour les classes de la carte de restitution par mailles, par type de représentation
    function areaGridDatasGrades(type) {
        var styleData = JSON.parse(styleStorage.getItem(type));
        {#console.log('<Styledata>', styleData);#}
        grade = []
        for (var i = 0, size = styleData.length; i < size; i++) {
            var item = styleData[i];
            {#console.log('<item>',item)#}
            grade.push(item.min)
        }
        {#console.log('<grade>',grade);#}
        return grade
    }

    // [Carte d'état des connaissances du territoire] <COUCHE> : Charge et affiche le zonage du territoire
    function getTerritoryArea() {
        axios
            .get('/api/geom/{{ area_info.type_code }}/{{ area_info.area_code }}')
            .then(function (response) {
                var situationObject = L.geoJson(response.data, {
                    style: territoryStyle
                });
                situationObject.addTo(situationMap).bringToBack();
            })
            .catch(function (error) {
                console.log('<getTerritoryArea> Error', error);
            });

    };

    // [Carte d'état des connaissances du territoire] <STYLE> :Styles des mailles
    function areaGridStyle(feature, type, color) {
        {#console.log('<areaGridStyle>', feature.properties.count_occtax, getColor(feature.properties.count_occtax, 'occtax', '#0233d6'));#}
        var field = 'count_' + type
        return {
            fillColor: getColor(feature.properties[field], type, color),
            weight: 1,
            opacity: 0.7,
            color: 'white',
            fillOpacity: 0.7
        };
    }

    // [Carte d'état des connaissances du territoire] <POPUP> Affiche les données détaillées des mailles
    function areaGridPopup(feature, layer, type) {
        var keys = Object.keys(styleDesc);
        {#console.log(type);#}
        var dataResult = '';
        for (var i = 0; i < keys.length; i++) {
            dataResult = dataResult + '<strong>' + styleDesc[keys[i]].desc + '</strong>&nbsp;:&nbsp;' + feature.properties['count_' + keys[i]] + '<br/>';
        }
        layer.bindPopup(dataResult);

    }

    // [Carte d'état des connaissances du territoire] <COUCHE> : Charge et affiche les mailles du territoire sur un rayon défini 'default_buffer'
    function getGridArea(type) {
        axios
            .get('/api/grid_data/{{ area_info.id_area }}/{{default_buffer}}/{{default_grid}}')
            .then(function (response) {
                    if (situationMapValues.areaGridDatas !== null) {
                        situationMap.removeLayer(situationMapValues.areaGridDatas);
                    }
                    ;
                    if (situationMapValues.areaGridLegend !== null) {
                        situationMap.removeControl(situationMapValues.areaGridLegend);
                    }
                    ;
                    situationMapValues.areaGridDatas = L.geoJson(response.data, {
                        style: function (feature) {
                            return areaGridStyle(feature, type, styleDesc[type].color)
                        }, onEachFeature: function (feature, layer) {
                            areaGridPopup(feature, layer, type)
                        }
                    });
                    situationMapValues.areaGridDatas.addTo(situationMap);
                    situationMapValues.areaGridLegend = L.control({
                        position: 'bottomright'
                    });
                    situationMapValues.areaGridLegend.onAdd = function () {
                        var div = L.DomUtil.create('div', 'leaflet-control-attribution leaflet-control');
                        var grades = areaGridDatasGrades(type);
                        div.innerHTML += '<strong>' + styleDesc[type].desc + '</strong><br/>';
                        for (var i = 0; i < grades.length; i++) {
                            div.innerHTML +=
                                '<canvas width="20" height="15" style="background-color: '
                                + getColor(grades[i], type, styleDesc[type].color)
                                + '"></canvas>\n' +
                                grades[i] + (grades[i + 1] ? '&ndash;' + grades[i + 1] + '<br>' : '+');
                        }
                        return div
                    };
                    situationMapValues.areaGridLegend.addTo(situationMap);
                    situationMap.invalidateSize();
                    situationMap.fitBounds(situationMapValues.areaGridDatas.getBounds());
                    situationMap.setMaxBounds(situationMapValues.areaGridDatas.getBounds());
                    situationMapValues.areaGridDatas.bringToFront();
                }
            )
            .catch(function (error) {
                console.log('getTerritoryArea Error', error);
            })
    };


    var select = L.control({
        position: 'topright'
    });

    select.onAdd = function () {
        var div = L.DomUtil.create('div', 'form-group form-group-sm');
        var keys = Object.keys(styleDesc);
        {#console.log(keys);#}
        var options = '';
        for (var i = 0; i < keys.length; i++) {
            {#console.log(keys[i], styleDesc[keys[i]].desc);#}
            options = options + '<option value="' + keys[i] + '">' + styleDesc[keys[i]].desc + '</option>'
        }
        {#console.log('<options>', options)#}
        div.innerHTML += '<select class="custom-select custom-select-sm mb-3" id="situationMapDatasSelect" name="title">'
            + options
            + '</select>';
        return div
    };
    select.addTo(situationMap);

    getTerritoryArea();
    getGridArea('taxa', '#bf01a6');
    situationMap.invalidateSize();

    $(document).on('change', '#situationMapDatasSelect', function () {
        getGridArea(this.value, '#bf01a6');
    });


</script>