.navbar {
    border-bottom: 1px rgba(1, 1, 1, 0.2) solid;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#situationMap {
    min-height: 500px;
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0px;
}

#genstats .count {
    font-size: 2rem;
}

#genstats .subject {
    font-size: 1rem;
}
