.navbar {
    border-bottom: 1px rgba(1, 1, 1, 0.2) solid;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#situationMap {
    min-height: 500px;
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0px;
}

#genstats .count {
    font-size: 2rem;
}

#genstats .subject {
    font-size: 1rem;
}

.leaflet-popup-content-wrapper {
    border-left: 10px solid #17a2b8;
    border-radius: 0;
}

.leaflet-popup-content-wrapper .leaflet-popup-content {

}

.leaflet-popup-tip-container {

}

#home-info h1, h2, h3, h4, h5 {
    border: none;
}

#territorySynthesis h2, h3, h4, h5 {
    color: var(--info);
    margin-top: 30px;
}


/* UICN Colors */
:root {
    --ex-color: #101210;
    --ew-color: #582440;
    --cr-color: #d3101c;
    --en-color: #ef7c38;
    --vu-color: #fbe500;
    --nt-color: #d5d700;
    --lc-color: #70b546;
    --dd-color: #dad7cb;
}


@media (min-width: 768px) {
    .seven-cols .col-md-1,
    .seven-cols .col-sm-1,
    .seven-cols .col-lg-1 {
        width: 100%;
        *width: 100%;
    }
}


@media (min-width: 992px) {
    #genstats .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}


@media (min-width: 1200px) {
    #genstats .col-lg-1 {
        width: 14.285714285714285714285714285714%;
        *width: 14.285714285714285714285714285714%;
    }
}

