{% block assets_js %}
<script>
  const debugMode = '{{ debug }}'.toLowerCase() === 'true';
</script>
<script
  type="application/javascript"
  src="{{ url_for('static', filename='assets/jquery.min.js') }}"
></script>
<script
  type="application/javascript"
  src="{{ url_for('static', filename='assets/jquery.autocomplete.js') }}"
></script>
<script
  type="application/javascript"
  src="{{ url_for('static', filename='assets/popper.min.js') }}"
></script>
<script
  type="application/javascript"
  src="{{ url_for('static', filename='assets/bootstrap.js') }}"
></script>
<script
  type="application/javascript"
  src="{{ url_for('static', filename='assets/FontAwesome/js/all.min.js') }}"
></script>
<script
  type="application/javascript"
  src="{{ url_for('static', filename='assets/axios.min.js') }}"
></script>
<script
  type="application/javascript"
  src="{{ url_for('static', filename='assets/leaflet.js') }}"
></script>
<script
  type="application/javascript"
  src="{{ url_for('static', filename='assets/Chart.js') }}"
></script>
<script
  type="application/javascript"
  src="{{ url_for('static', filename='assets/select2.js') }}"
></script>
<script
  type="module"
  src="{{ url_for('static', filename='assets/countup.min.js') }}"
></script>
<script
  type="application/javascript"
  src="{{ url_for('static', filename='assets/datatables.min.js') }}"
></script>
<script
  type="application/javascript"
  src="{{ url_for('static', filename='assets/main.js') }}"
></script>
<script
  type="application/javascript"
  src="{{ url_for('static', filename='assets/base_map.js') }}"
></script>
<script
  type="application/javascript"
  src="{{ url_for('static', filename='custom/assets/custom.js') }}"
></script>
{% endblock %}
