{% block assets_js %}
<script type="application/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='bootstrap.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='axios.min.js') }}"></script>
{#<script type="application/javascript" src="{{ url_for('static', filename='vue.js') }}"></script>#}
<script type="application/javascript" src="{{ url_for('static', filename='leaflet.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='Chart.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='select2.js') }}"></script>
<script type="application/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

<!-- {% assets "js_all" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "css_all" %}
<link  type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %} -->
{% endblock %}