{% block assets_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/FontAwesome/css/all.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/leaflet.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/Chart.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/select2.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/select2.bs4.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/datatables.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/main.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/custom.css') }}">

<!-- {% assets "js_all" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% assets "css_all" %}
<link  type="text/css" rel="stylesheet" href="{{ ASSET_URL }}">
{% endassets %} -->
{% endblock %}