{% extends "core/layout.html" %} {% block title %}Accueil{% endblock %} {% block head %} {{ super() }}
    <style type="text/css">
        /*
         * Base structure
         */

        /* Header Parallax Element Style*/
        .paral {
            height: 600px;
            background-position: 50% 50%;
            background-attachment: fixed;
            background-size: cover;
            background: url({{ url_for('static', filename='custom/images/home-background.jpg')}});
        }

        /* Paragrapgh for Parallax Section */
        .paral p {
            font-size: 24px;
            color: #f5f5f5;
            text-align: center;
            line-height: 60px;
        }

        /* Heading for Parallax Section */
        .paral h1 {
            color: rgba(255, 255, 255, 0.8);
            font-size: 60px;
            text-align: center;
            padding-top: 70px;
            line-height: 70px;
        }


        .jumbotron {
            margin-bottom: 0;
            border-radius: 0;
        }


    </style>
{% endblock %} {% block content %}
    <!-- First Parallax Section -->
    <div class="jumbotron paral paralsec">
        <div class="container">
            <h1 class="display-3">{{ site_name }}</h1>
            <p class="lead">{{ site_desc|safe }}</p>
            <p class="lead">
                {% include "core/search_territory.html" %}
            </p>
        </div>
    </div>

{% endblock %}