{% extends "core/layout.html" %} {% block title %}Accueil{% endblock %} {% block head %} {{ super() }}

{% endblock %} {% block content %}
    <style type="text/css">
        .paralsec h1, .paralsec1 h1, .paralsec2 h1 {
            font-weight: bolder;
        }

        .paralsec1 {
            background-color: white;
            height: 515px;
        }

        .paralsec1 h1 {
            color: rgba(0, 0, 0, 0.8);
            padding-top: 0px;
        }

        .bg-primary-light {
            background-color: rgba(229, 240, 255, 1);
        }

        .icon-rounded {
            display: inline-block;
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            text-align: center;
            line-height: 6rem;
        }

        .icon-rounded svg {
            vertical-align: middle;
            color: rgba(0, 96, 230, 0.9);
        }        
    </style>

    <!-- First Parallax Section -->
    <div class="jumbotron paral paralsec">
        <div class="container">
            <h1 class="display-1">{{ site_name }}</h1>
            <p class="lead">{{ site_desc|safe }}</p>
            <p class="lead">
                {% include "core/search_territory.html" %}
            </p>
        </div>
    </div>
    <div class="jumbotron paral paralsec1">
        <div class="container">
            <h1 class="display-1">Données de la plateforme</h1>
            <div id="homeStats" class="row text-center" style="padding-top: 20px;">
                <div class="col">
                    <div class="icon-rounded bg-primary-light mb-3">
                        <i class="fas fa-eye fa-3x"></i>
                    </div>
                    <div class="count" id="countOcctax">0</div>
                    <div class="subject">Observations</div>
                </div>
                <div class="col">
                    <div class="icon-rounded bg-primary-light mb-3">
                        <i class="fas fa-frog fa-3x"></i>
                    </div>
                    <div class="count" id="countTaxa">0</div>
                    <div class="subject">Taxons</div>
                </div>
                <div class="col">
                    <div class="icon-rounded bg-primary-light mb-3">
                        <i class="fas fa-user-friends fa-3x"></i>
                    </div>
                    <div class="count" id="countObservers">0</div>
                    <div class="subject">Observateurs</div>
                </div>
                {#                <div class="col">#}
                {#                    <div class="count" id="countDatasets">0</div>#}
                {#                    <div class="subject">Jeux de données</div>#}
                {#                </div>#}
            </div>
        </div>
    </div>
    {% if bonus_block %}
        <div class="jumbotron paral-adaptative paralsec2">
            <div class="container">
                <h1 class="display-1">{{ bonus_block.title }}</h1>
                <div id="bonusContent" class="content">
                    {{ bonus_block.content|safe }}
                </div>
            </div>
        </div>
    {% endif %}
    <script type="module">
        import {CountUp} from './static/assets/countup.min.js';

        const countUpOptions = {
            separator: ' ',
        };

        var countUpUpdate = function (element, data) {
            new CountUp(element, data, countUpOptions).start();
        };

        var getStats = function () {
            axios.get('/api/homestats')
                .then(function (response) {
                    console.log(response);
                    countUpUpdate('countOcctax', response.data['count_occtax']);
                    {#countUpUpdate('countDatasets', response.data['count_dataset']);#}
                    countUpUpdate('countObservers', response.data['count_observers']);
                    countUpUpdate('countTaxa', response.data['count_taxa']);
                })
                .catch(function (error) {
                    console.log('<get GenStats error>', error);
                })
        };
        getStats();


        $("#bonusContent > p, h1, h2, h3, h4").addClass('lead');

    </script>

{% endblock %}